<h2>
  Faire 2 inputs, un width et un height, qui, à l'aide de l'event binding et du property binding,
  permettent de définir la longueur et la largeur d'une div noire
</h2>
<div>
  <label for="width-input">Width :</label>
  <input id="width-input" type="number" (change)="setWidth($event)">
</div>
<div>
  <label for="height-input">Height :</label>
  <input id="height-input" type="number" (change)="height = $event.target.value">
</div>
<div style="background-color: black;" [style.height]="height + 'px'" [style.width]="width + 'px'"></div>
