<h2>
  Faire 2 inputs, un width et un height, qui, à l'aide de l'event binding, du property binding et de template variable reference,
  permettent de définir la longueur et la largeur d'une div noire
</h2>
<div>
  <label for="width-input">Width :</label>
  <input id="width-input" type="number" (change)="resize(widthInput.valueAsNumber, heightInput.valueAsNumber)" #widthInput>
</div>
<div>
  <label for="height-input">Height :</label>
  <input id="height-input" type="number" (change)="resize(widthInput.valueAsNumber, heightInput.valueAsNumber)" #heightInput>
</div>
<div style="background-color: black;" [style.height]="heightInput.value + 'px'" [style.width]="widthInput.value + 'px'"></div>
