<h2>
  Utiliser ngModel pour binder de manière bidirectionnelle la taille sélectionnée dans l'input et utiliser la propriété bindée pour modifier le choix de la taille.
  <br/>
  De plus, utiliser [value] et [ngValue] dans les select
</h2>
<div>
  <label for="width-input">Width :</label>
  <input id="width-input" type="number" [(ngModel)]="width" (ngModelChange)="updateIsBeEnough()">
</div>
<div>
  <label for="height-input">Height :</label>
  <input id="height-input" type="number" [(ngModel)]="height" (ngModelChange)="updateIsBeEnough()">
</div>

<div style="background-color: black;" [style.height]="height + 'px'" [style.width]="width + 'px'"></div>
<ng-container *ngIf="isBigEnough; else keepGoing">
  <p>Ahhhhh maintenant on est bien</p>
</ng-container>
<ng-template #keepGoing>
  <p>Monte encore...</p>
</ng-template>
<select [(ngModel)]="currentSizeChoiceIndex" (change)="chooseSizeByIndex(currentSizeChoiceIndex)">
  <option *ngFor="let size of sizes; index as monIndex" [value]="monIndex">w: {{size.width}} x h: {{size.height}}</option>
</select>
<select [(ngModel)]="currentSizeChoice" (change)="chooseSize(currentSizeChoice)">
  <option *ngFor="let size of sizes" [ngValue]="size">w: {{size.width}} x h: {{size.height}}</option>
</select>
