<h2>
  En reprenant l'exercice précédent, ajouter un select permettant de choisir des tailles de div prédéfini
</h2>
<div>
  <label for="width-input">Width :</label>
  <input id="width-input" type="number" (change)="resize(widthInput.valueAsNumber, heightInput.valueAsNumber)" #widthInput>
</div>
<div>
  <label for="height-input">Height :</label>
  <input id="height-input" type="number" (change)="resize(widthInput.valueAsNumber, heightInput.valueAsNumber)" #heightInput>
</div>

<div style="background-color: black;" [style.height]="height + 'px'" [style.width]="width + 'px'"></div>
<ng-container *ngIf="height > 50 && width > 50; else keepGoing">
  <p>Ahhhhh maintenant on est bien</p>
</ng-container>
<ng-template #keepGoing>
  <p>Monte encore...</p>
</ng-template>
<select (change)="chooseSize($event)">
  <option value=""> - </option>
  <option *ngFor="let size of sizes; index as monIndex" [value]="monIndex">w: {{size.width}} x h: {{size.height}}</option>
</select>
