<div>
  <label for="width-input">Width :</label>
  <input id="width-input" type="number" (change)="resize(widthInput.valueAsNumber, heightInput.valueAsNumber)" #widthInput>
</div>
<div>
  <label for="height-input">Height :</label>
  <input id="height-input" type="number" (change)="resize(widthInput.valueAsNumber, heightInput.valueAsNumber)" #heightInput>
</div>

<div style="background-color: black;" [style.height]="height + 'px'" [style.width]="width + 'px'"></div>
<ng-container *ngIf="height > 50 && width > 50; else keepGoing">
  <p>WOOOOOOOOOOOOOOOOOOO, Trop gros</p>
</ng-container>
<ng-template #keepGoing>
  <p>Monte encore...</p>
</ng-template>
