<div>
  <p>Date et heure à Paris : {{dateDuJour | date:'yyyy/MM/dd hh:mm:ss'}}</p>
  <p>Date et heure à New York : {{dateDuJour | date:'long':'GMT-4':'fr-FR'}}</p>
</div>
<div>
  <label for="width-input">Width :</label>
  <input id="width-input" type="number" [ngModel]="width" (ngModelChange)="onWidthChange($event)"/>
</div>
<div>
  <label for="height-input">Height :</label>
  <input id="height-input" type="number" [ngModel]="height" (ngModelChange)="onHeightChange($event)"/>
</div>
<p>Current Width : {{width}}</p>
<p>Current Height : {{height}}</p>
<div style="background-color: black;" [style.height]="heightWithUnit" [style.width]="widthWithUnit"></div>
<ng-container *ngIf="height > 50 && width > 50; else keepGoing">
  <p>WOOOOOOOOOOOOOOOOOOO, Trop gros</p>
</ng-container>
<ng-template #keepGoing>
  <p>Monte encore...</p>
</ng-template>
<select [(ngModel)]="currentUnit">
  <option *ngFor="let unit of units">{{unit}}</option>
</select>
<select [(ngModel)]="currentSizeChoiceIndex" (change)="chooseSizeByIndex(currentSizeChoiceIndex)">
  <option *ngFor="let size of sizes; index as monIndex" [value]="monIndex">{{size | sizeLabel:currentUnit}}</option>
</select>
<select [(ngModel)]="currentSizeChoice" (change)="chooseSize(currentSizeChoice)">
  <option *ngFor="let size of sizes" [ngValue]="size">{{size | sizeLabel:currentUnit}}</option>
</select>
