<section>
  <nav>
    <a [routerLink]="['./interpolation']">Interpolation</a>
    | <a [routerLink]="['./property-binding']">Property Binding</a>
    | <a [routerLink]="['./event-binding']">Event Binding</a>
    | <a [routerLink]="['./input-resizer']">TP : Input Resizer</a>
    | <a [routerLink]="['./template-reference']">Template Reference Variable</a>
    | <a [routerLink]="['./input-resizer2']">TP : Input Resizer 2</a>
    | <a [routerLink]="['./ng-if']">ngIf</a>
    | <a [routerLink]="['./input-resizer3']">TP : Input Resizer 3</a>
    | <a [routerLink]="['./ng-for']">ngFor</a>
    | <a [routerLink]="['./input-resizer4']">TP : Input Resizer 4</a>
    | <a [routerLink]="['./ng-switch']">ngSwitch</a>
    | <a [routerLink]="['./component-ng-switcher']">TP : component NgSwitch...er</a>
    | <a [routerLink]="['./ng-model']">ngModel</a>
    | <a [routerLink]="['./input-resizer5']">TP : Input Resizer 5</a>
    | <a [routerLink]="['./ng-model-change']">ngModelChange</a>
    | <a [routerLink]="['./directive']">directive</a>
    | <a [routerLink]="['./pipe']">pipe</a>
  </nav>
</section>
