<div>
  <p>Date et heure à Paris : {{dateDuJour | date:'yyyy/MM/dd hh:mm:ss'}}</p>
  <p>Date et heure à New York : {{dateDuJour | date:'long':'GMT-4':'fr-FR'}}</p>
</div>
<section *ngIf="trainees">
  <mat-form-field>
    <mat-label>Choisissez un utilisateur:</mat-label>
    <mat-select [(ngModel)]="currentTrainee">
      <mat-option *ngFor="let trainee of trainees" [value]="trainee">
        {{trainee.firstname + ' ' + trainee.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="currentTrainee">
    <mat-form-field>
      <mat-label>Choisissez une unité:</mat-label>
      <mat-select [(ngModel)]="currentUnit" (ngModelChange)="chooseSize(currentSizeChoice)">
        <mat-option *ngFor="let unit of units" [value]="unit">{{unit}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choisissez une taille de carré ou saisissez la:</mat-label>
      <mat-select [(ngModel)]="currentSizeChoice" (ngModelChange)="chooseSize(currentSizeChoice)">
        <mat-option *ngFor="let size of currentTrainee.sizes"
                    [value]="size">{{size | sizeLabel:currentUnit}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>
      <mat-form-field>
        <mat-label>Width :</mat-label>
        <input matInput type="number" [ngModel]="width" (ngModelChange)="onWidthChange($event)"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Height :</mat-label>
        <input matInput type="number" [ngModel]="height" (ngModelChange)="onHeightChange($event)"/>
      </mat-form-field>
    </p>
  </ng-container>
</section>
<section *ngIf="width && height">
  <div style="background-color: black;" [style.height]="heightWithUnit" [style.width]="widthWithUnit"></div>
  <ng-container *ngIf="height > 50 && width > 50; else keepGoing">
    <p>WOOOOOOOOOOOOOOOOOOO, Trop gros</p>
  </ng-container>
  <ng-template #keepGoing>
    <p>Monte encore...</p>
  </ng-template>
</section>
